%tr
  %td= gaming_session.description
  %td= gaming_session.type
  %td= gaming_session.status
  %td= privacy_label(gaming_session.privacy)
  %td= gaming_session.starts_at
  %td= gaming_session.ends_at
  %td= distance_of_time_in_words(gaming_session.starts_at, gaming_session.ends_at) # gaming_session.ends_at - gaming_session.starts_at)
  %td= gaming_session.created_at
  %td= gaming_session.updated_at
  %td
    = render partial: 'shared/crud_actions', locals: { model: gaming_session }
