%br
- if current_membership
  - case current_membership.status.to_sym
    - when :pending
      .alert.alert-warning You've pending join request.
      = link_to 'Cancel', leave_team_path(@team), class: 'btn btn-danger'
    - when :approved
      = link_to 'Leave', leave_team_path(@team), class: 'btn btn-danger'
    - when :left
      = link_to 'Re-join', join_team_path(@team), class: 'btn btn-success'
    - when :banned
      .alert.alert-warning You've been banned and can't join this team.
  -# Only man in team
  - if @team.memberships.count == 1
    = link_to fa_icon('remove', text: 'Disband'), team_path(@team), class: 'btn btn-danger', method: :delete
- else
  = link_to 'Join', join_team_path(@team), class: 'btn btn-success'
