= simple_form_for @team do |f|
  = f.input :name
  = f.input :abbreviation
  = f.input :description
  = f.input :privacy, collection: Gamer.privacies.keys.to_a, as: :radio_buttons
  = f.association :games, as: :check_boxes
  = f.submit
