= simple_form_for @team do |f|
  = f.input :name
  = f.input :abbreviation
  = f.input :description
  = f.input :privacy, collection: [['Public', 1], ['Private', 2], ['Invite only', 3]], include_blank: false
  = f.association :games, as: :check_boxes
  = f.submit
