%h1
  = @team.to_label
  %small= verified_badge(@team.verified?, false)

%ul.nav.nav-tabs{ role: 'tablist' }
  %li.active
    %a{ href: '#gamers', role: 'tab', data: { toggle: 'tab' } } Gamers
  %li
    %a{ href: '#communities', role: 'tab', data: { toggle: 'tab' } } Communities
  %li
    %a{ href: '#games', role: 'tab', data: { toggle: 'tab' } } Games  
.tab-content
  #gamers.tab-pane.active{ role: 'tabpanel' }
    - if @gamer_memberships.blank?
      %h4 No memberships...
    - else
      = render 'gamer_memberships'
  #communities.tab-pane{ role: 'tabpanel' }
    - if @community_memberships.blank?
      %h4 No memberships...
    - else
      = render 'community_memberships'
  #games.tab-pane{ role: 'tabpanel' }
    %table.table
      %tbody
        = render @team.games
%hr
= render partial: 'current_membership'
