%ul.nav.navbar-nav
  %form.navbar-form.navbar-left
    .form-group
      %input.form-control{ type: 'text', placeholder: t('private_menu.search_placeholder') }
  %li.nav-item{ class: controller_name == 'play' && action_name == 'index' ? "active" : '' }
    = link_to fa_icon('gamepad', text: t('private_menu.play')), play_path, class: 'nav-link'
  %li.nav-item{ class: controller_name == 'organize' && action_name == 'index' ? "active" : '' }
    = link_to fa_icon('calendar', text: t('private_menu.organize')), organize_path, class: 'nav-link'
  %li.nav-item{ class: controller_name == 'explore' && action_name == 'index' ? "active" : '' }
    = link_to fa_icon('magic', text: t('private_menu.explore')), explore_path, class: 'nav-link'
%ul.nav.navbar-nav.pull-right
  - if session[:became_user] && session[:superuser_id]
    %li.nav-item= link_to fa_icon('back', text: 'Become self'), become_self_path, class: 'btn btn-secondary-outline'
  %li.dropdown
    %a.dropdown-toggle{ href: "#", 'data-toggle' => "dropdown" }
      = fa_icon('photo', text: current_gamer.username)
      %span.caret
    %ul.dropdown-menu
      %li= link_to fa_icon('user', text: t('user_menu.gamer')), gamer_path(current_gamer)
      %li= link_to fa_icon('cogs', text: t('user_menu.settings')), settings_gamer_path
      %li.divider
      %li= link_to fa_icon('sign-out', text: t('user_menu.sign_out')), destroy_user_session_path, class: 'nav-link', method: :delete
