%tr
  %td= event.name
  %td= event.description
  %td= event.type
  %td= event.status
  %td= privacy_label(event.privacy)
  %td= event.starts_at
  %td= event.ends_at
  %td= distance_of_time_in_words(event.starts_at, event.ends_at)
  %td
    = render partial: 'shared/crud_actions', locals: { model: event }
