= simple_form_for @event do |f|
  .row
    .col-md-4
      = f.input :name
      = f.input :description
    .col-md-4
      = f.input :starts_at
      = f.input :ends_at
    .col-md-4
      = f.input :type, collection: Event.types.keys.to_a, as: :radio_buttons
  .row
    .col-md-4
      = f.input :status, collection: Event.statuses.keys.to_a, as: :radio_buttons
    .col-md-4
      = f.input :privacy, collection: Event.privacies.keys.to_a, as: :radio_buttons
  .row
    .col-md-4
      %fieldset
        %legend Games
        = f.simple_fields_for :event_games do |eg_form|
          = render 'event_game_fields', f: eg_form
          .links
            = link_to_add_association 'add game', f, :event_games
    .col-md-8
      %fieldset
        %legend Participation
        = f.simple_fields_for :event_participation do |ep_form|
          = render 'event_participation_fields', f: ep_form
          .links
            = link_to_add_association 'add gamer', f, :event_participation
  
  = f.submit 'Save', class: 'btn btn-primary'
