%h1
  = @event.name
  %small= @event.description
  - if @event.gamer_id == current_gamer.id
    %small
      .pull-right= link_to fa_icon('cogs'), edit_event_path(@event)

.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Info
      %table.table.table-bordered
        %tbody
          -#%tr
          -#  %th Name
          -#  %td= @event.name
          -#- if @event.description.present?
          -#  %tr
          -#    %th Description
          -#    %td= @event.description
          %tr
            %th Type
            %td= @event.type_label
          %tr
            %th Duration
            %td= @event.duration_label
          %tr
            %th Status
            %td= @event.status_label
          %tr
            %th Privacy
            %td= @event.privacy_label
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h3.panel-title Gamers
      %table.table.table-bordered
        %thead
          %tr
            %th Name
            %th Status
            -#%th Response
            %th
        %tbody
          - @event.event_participation.decorate.each do |ep|
            %tr
              %td= ep.gamer&.to_label
              %td= ep.status_label
              -#%td= ep.response
              %td
                - if ep.gamer_id == current_gamer.id
                  = render 'current_participation', ep: ep
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title Games
      %table.table
        %thead
          %tr
            %th Name
            %th Duration
        %tbody
          - @event.event_games.each do |eg|
            %tr
              %td= eg.game&.to_label
              %td= distance_of_time_in_words(eg.starts_at, eg.ends_at)
