.row
  .col-md-4
    %table.table
      %tbody
        - @event.attributes.each do |k, v|
          %tr
            %th= k
            %td= v
  .col-md-4
    %table.table
      %thead
        %tr
          %th Name
          %th Duration
      %tbody
        - @event.event_games.each do |eg|
          %tr
            %td= eg.game&.to_label
            %td= distance_of_time_in_words(eg.starts_at, eg.ends_at)
  .col-md-4
    %table.table
      %thead
        %tr
          %th Name
          %th Status
      %tbody
        - @event.event_participation.each do |ep|
          %tr
            %td= ep.gamer&.to_label
            %td= ep.status
            %td= ep.response
