.jumbotron
  .text-center
    %p= t('.value_proposition.header')
    %p.text-success= t('.value_proposition.description_html', heart: fa_icon('heart'))
    %p.text-primary= t('.value_proposition.optional')
.row
  .col-md-4
    .panel.panel-success
      .panel-heading
        %h4.panel-title
          = t('.features.play.header_html', icon: fa_icon('gamepad'))
          %sup alpha
      .panel-body
        %h6.text-muted= t('.features.play.description')
      %ul.list-group
        %li.list-group-item= t('.features.play.first')
        %li.list-group-item= t('.features.play.second')
        %li.list-group-item= t('.features.play.third')
  .col-md-4
    .panel.panel-info
      .panel-heading
        %h4.panel-title
          = t('.features.organize.header_html', icon: fa_icon('calendar'))
          %sup soon
      .panel-body
        %h6.text-muted= t('.features.organize.description')
      %ul.list-group
        %li.list-group-item= t('.features.organize.first')
        %li.list-group-item= t('.features.organize.second')
        %li.list-group-item= t('.features.organize.third')
  .col-md-4
    .panel.panel-warning
      .panel-heading
        %h4.panel-title
          = t('.features.explore.header_html', icon: fa_icon('magic'))
          %sup soon
      .panel-body
        %h6.text-muted= t('.features.explore.description')
      %ul.list-group
        %li.list-group-item= t('.features.explore.first')
        %li.list-group-item= t('.features.explore.second')
        %li.list-group-item= t('.features.explore.third')
