%tr
  %td= community.to_label
  %td= community.description
  %td= yes_or_no(community.active)
  %td= community.privacy
  %td= community.status
  %td= community.memberships.count
  %td= community.games.count
  %td= community.teams.count
  %td
    = render partial: 'shared/crud_actions', locals: { model: community }
