%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Role
      %th Status
      %th
  %tbody
    - @gamer_memberships.each do |m|
      %tr
        %td= m.gamer.username
        %td
          = m.role.to_label
          - if current_membership&.role&.name == 'Founder' && @community.memberships.count > 1
            .btn-group
              %button.btn.btn-default.dropdown-toggle{ data: { toggle: 'dropdown' } }
                = fa_icon('edit', text: 'Change')
                %span.caret
              %ul.dropdown-menu
                - Role.all.each do |role|
                  - next if role.id == m.role_id
                  %li= link_to role.to_label, change_role_membership_path(m, role_id: role.id), class: 'dropdown-item'
        %td= m.status_label
        %td
          - if current_membership&.role&.name == 'Founder' && @community.memberships.count > 1
            = render 'memberships/manage', membership: m
          - if current_user.is_core?
            = render partial: 'shared/crud_actions', locals: { model: m.gamer }
