%h1
  = @community.to_label
  %small= verified_badge(@community.verified?, false)
  - if current_membership&.role&.name == 'Founder' # if can? :edit, @community
    .pull-right= link_to fa_icon('cogs'), edit_community_path(@community)

= safe_external_link(@community.website)

%ul.nav.nav-tabs{ role: 'tablist' }
  %li.active
    %a{ href: '#gamers', role: 'tab', data: { toggle: 'tab' } } Gamers
  %li
    %a{ href: '#teams', role: 'tab', data: { toggle: 'tab' } } Teams
  %li
    %a{ href: '#games', role: 'tab', data: { toggle: 'tab' } } Games  
.tab-content
  #gamers.tab-pane.active{ role: 'tabpanel' }
    - gamer_memberships = @community.memberships.for_gamers
    - if gamer_memberships.blank?
      %h4 No memberships...
    - else
      %table.table.table-bordered
        %thead
          %tr
            %th Name
            %th Role
            %th Status
            %th
        %tbody
          - @community.memberships.for_gamers.order(:role_id).each do |m|
            %tr
              %td= m.gamer.username
              %td
                = m.role.to_label
                - if current_membership&.role&.name == 'Founder' && @community.memberships.count > 1
                  .btn-group
                    %button.btn.btn-default.dropdown-toggle{ data: { toggle: 'dropdown' } }
                      = fa_icon('edit', text: 'Change')
                      %span.caret
                    %ul.dropdown-menu
                      - Role.all.each do |role|
                        - next if role.id == m.role_id
                        %li= link_to role.to_label, change_role_membership_path(m, role_id: role.id), class: 'dropdown-item' 
              %td= membership_status_label(m)
              %td
                - if current_membership&.role&.name == 'Founder' && @community.memberships.count > 1
                  = render 'memberships/manage', membership: m
                - if current_user.is_core?  
                  = render partial: 'shared/crud_actions', locals: { model: m.gamer }
  #teams.tab-pane{ role: 'tabpanel' }
    - team_memberships = @community.memberships.for_teams
    - if team_memberships.blank?
      %h4 No memberships...
    - else
      %table.table.table-bordered
        %thead
          %tr
            %th Name
            %th Role
            %th
        %tbody
          - team_memberships.each do |m|
            %tr
              %td= m.team.to_label
              %td= m.role&.to_label
              %td= render partial: 'shared/crud_actions', locals: { model: m.team }
  #games.tab-pane{ role: 'tabpanel' }
    %table.table
      %tbody
        = render @community.games
%hr
= render partial: 'current_membership'
