!!! 5
%html(lang='en')
  %head
    %meta(charset='utf-8')
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(http-equiv='x-ua-compatible' content='id=edge')
    %link(rel="author" href="humans.txt")
    %title Gaming Base
    = csrf_meta_tags
    = action_cable_meta_tag

    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin: "anonymous"}
    %link{href: "https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT", crossorigin: "anonymous"}

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    %script{src: "https://code.jquery.com/jquery-3.2.1.min.js", integrity: "sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin: "anonymous"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity: "sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin: "anonymous"}
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/main_menu'
    .container
      = bootstrap_flash
      = yield

    -#= render 'shared/bottom_context_menu' do
    -#  %ul.nav.navbar-nav
    -#    %li.dropdown
    -#      %a.dropdown-toggle{ href: "#", 'data-toggle' => "dropdown" }
    -#        Language
    -#        %span.caret
    -#      %ul.dropdown-menu
    -#        - Settings.locales.each do |l|
    -#          %li= link_to l, root_path(hl: l)
